In [3]:
import pandas as pd
import numpy as np

In [8]:
a=pd.Series([20,30,40,50,60])

In [9]:
a

0    20
1    30
2    40
3    50
4    60
dtype: int64

In [12]:
a.name='size of yams'

In [19]:
a

monday       20
tuesday      30
wednesday    40
thursday     50
friday       60
Name: size of yams, dtype: int64

In [14]:
a[2]

40

In [15]:
a[0]+a[3]

70

In [18]:
a.index=['monday','tuesday','wednesday','thursday','friday']

In [21]:
a['tuesday']

30

In [22]:
a.iloc[4]

60

In [24]:
a['tuesday':'thursday']

tuesday      30
wednesday    40
thursday     50
Name: size of yams, dtype: int64

In [25]:
a>40

monday       False
tuesday      False
wednesday    False
thursday      True
friday        True
Name: size of yams, dtype: bool

In [26]:
a[a<43]

monday       20
tuesday      30
wednesday    40
Name: size of yams, dtype: int64

In [29]:
a.mean()

40.0

In [30]:
a.sum()

200

In [33]:
a[a<35]=14

In [34]:
a

monday       14
tuesday      14
wednesday    40
thursday     50
friday       60
Name: size of yams, dtype: int64

In [75]:
x=pd.read_csv('fifa data.csv')
df

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andr√©s Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atl√©tico Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,https://sofifa.com/player/245006/shuai-shao/20...,Shao Shuai,ÈÇµÂ∏Ö,22,1997-03-10,186,79,China PR,Beijing Renhe FC,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
18274,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,Âº†Â®Å,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,Ê±™Êµ∑ÂÅ•,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,ÊΩòÂñúÊòé,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [76]:
df.index

RangeIndex(start=0, stop=18278, step=1)

In [77]:
df.columns

Index(['sofifa_id', 'player_url', 'short_name', 'long_name', 'age', 'dob',
       'height_cm', 'weight_kg', 'nationality', 'club',
       ...
       'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb'],
      dtype='object', length=104)

In [78]:
df.info

<bound method DataFrame.info of        sofifa_id                                         player_url  \
0         158023  https://sofifa.com/player/158023/lionel-messi/...
1          20801  https://sofifa.com/player/20801/c-ronaldo-dos-...
2         190871  https://sofifa.com/player/190871/neymar-da-sil...
3         200389  https://sofifa.com/player/200389/jan-oblak/20/...
4         183277  https://sofifa.com/player/183277/eden-hazard/2...
...          ...                                                ...
18273     245006  https://sofifa.com/player/245006/shuai-shao/20...
18274     250995  https://sofifa.com/player/250995/mingjie-xiao/...
18275     252332  https://sofifa.com/player/252332/wei-zhang/20/...
18276     251110  https://sofifa.com/player/251110/haijian-wang/...
18277     233449  https://sofifa.com/player/233449/ximing-pan/20...

              short_name                            long_name  age  \
0               L. Messi       Lionel Andr√©s Messi Cuccittini   32
1      Cristiano Ronaldo  Cristiano Ronaldo dos Santos Aveiro   34
2              Neymar Jr        Neymar da Silva Santos Junior   27
3               J. Oblak                            Jan Oblak   26
4              E. Hazard                          Eden Hazard   28
...                  ...                                  ...  ...
18273         Shao Shuai                                   ÈÇµÂ∏Ö   22
18274       Xiao Mingjie                         Mingjie Xiao   22
18275          Zhang Wei                                   Âº†Â®Å   19
18276       Wang Haijian                                  Ê±™Êµ∑ÂÅ•   18
18277         Pan Ximing                                  ÊΩòÂñúÊòé   26

              dob  height_cm  weight_kg nationality  \
0      1987-06-24        170         72   Argentina
1      1985-02-05        187         83    Portugal
2      1992-02-05        175         68      Brazil
3      1993-01-07        188         87    Slovenia
4      1991-01-07        175         74     Belgium
...           ...        ...        ...         ...
18273  1997-03-10        186         79    China PR
18274  1997-01-01        177         66    China PR
18275  2000-05-16        186         75    China PR
18276  2000-08-02        185         74    China PR
18277  1993-01-11        182         78    China PR

                                club  ...   lwb   ldm   cdm   rdm   rwb    lb  \
0                       FC Barcelona  ...  68+2  66+2  66+2  66+2  68+2  63+2
1                           Juventus  ...  65+3  61+3  61+3  61+3  65+3  61+3
2                Paris Saint-Germain  ...  66+3  61+3  61+3  61+3  66+3  61+3
3                    Atl√©tico Madrid  ...   NaN   NaN   NaN   NaN   NaN   NaN
4                        Real Madrid  ...  66+3  63+3  63+3  63+3  66+3  61+3
...                              ...  ...   ...   ...   ...   ...   ...   ...
18273               Beijing Renhe FC  ...  43+2  42+2  42+2  42+2  43+2  45+2
18274               Shanghai SIPG FC  ...  44+2  43+2  43+2  43+2  44+2  46+2
18275         Hebei China Fortune FC  ...  47+2  49+2  49+2  49+2  47+2  47+2
18276  Shanghai Greenland Shenhua FC  ...  48+2  48+2  48+2  48+2  48+2  48+2
18277         Hebei China Fortune FC  ...  48+2  49+2  49+2  49+2  48+2  48+2

        lcb    cb   rcb    rb
0      52+2  52+2  52+2  63+2
1      53+3  53+3  53+3  61+3
2      46+3  46+3  46+3  61+3
3       NaN   NaN   NaN   NaN
4      49+3  49+3  49+3  61+3
...     ...   ...   ...   ...
18273  46+2  46+2  46+2  45+2
18274  47+2  47+2  47+2  46+2
18275  49+2  49+2  49+2  47+2
18276  49+2  49+2  49+2  48+2
18277  50+2  50+2  50+2  48+2

[18278 rows x 104 columns]>

In [97]:
df.iloc[-18266]

sofifa_id                                                202126
player_url    https://sofifa.com/player/202126/harry-kane/20...
short_name                                              H. Kane
long_name                                            Harry Kane
age                                                          25
                                    ...
lb                                                         62+3
lcb                                                        60+3
cb                                                         60+3
rcb                                                        60+3
rb                                                         62+3
Name: 12, Length: 104, dtype: object

In [99]:
df.loc[16]

sofifa_id                                                138956
player_url    https://sofifa.com/player/138956/giorgio-chiel...
short_name                                         G. Chiellini
long_name                                     Giorgio Chiellini
age                                                          34
                                    ...
lb                                                         76+3
lcb                                                        86+3
cb                                                         86+3
rcb                                                        86+3
rb                                                         76+3
Name: 16, Length: 104, dtype: object

In [ ]:
# loc will give you location by index while ilopc wil give you location by position on the index

In [100]:
df['short_name']

0                 L. Messi
1        Cristiano Ronaldo
2                Neymar Jr
3                 J. Oblak
4                E. Hazard
               ...
18273           Shao Shuai
18274         Xiao Mingjie
18275            Zhang Wei
18276         Wang Haijian
18277           Pan Ximing
Name: short_name, Length: 18278, dtype: object

In [101]:
df.loc[1:4]

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atl√©tico Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [102]:
df.loc[1:4,'short_name']

1    Cristiano Ronaldo
2            Neymar Jr
3             J. Oblak
4            E. Hazard
Name: short_name, dtype: object

In [106]:
df.loc[1:4,['short_name','nationality']]

          short_name nationality
1  Cristiano Ronaldo    Portugal
2          Neymar Jr      Brazil
3           J. Oblak    Slovenia
4          E. Hazard     Belgium

In [107]:
df.iloc[1:3,5]

1    1985-02-05
2    1992-02-05
Name: dob, dtype: object

In [113]:
df.iloc[1:5,[0,3]]

   sofifa_id                            long_name
1      20801  Cristiano Ronaldo dos Santos Aveiro
2     190871        Neymar da Silva Santos Junior
3     200389                            Jan Oblak
4     183277                          Eden Hazard

In [111]:
df['age']>25

0         True
1         True
2         True
3         True
4         True
         ...
18273    False
18274    False
18275    False
18276    False
18277     True
Name: age, Length: 18278, dtype: bool

In [117]:
df.loc[df['age']>30]

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andr√©s Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
8,177003,https://sofifa.com/player/177003/luka-modric/2...,L. Modriƒá,Luka Modriƒá,33,1985-09-09,172,66,Croatia,Real Madrid,...,81+3,81+3,81+3,81+3,81+3,79+3,72+3,72+3,72+3,79+3
16,138956,https://sofifa.com/player/138956/giorgio-chiel...,G. Chiellini,Giorgio Chiellini,34,1984-08-14,187,85,Italy,Juventus,...,73+3,77+3,77+3,77+3,73+3,76+3,86+3,86+3,86+3,76+3
17,153079,https://sofifa.com/player/153079/sergio-aguero...,S. Ag√ºero,Sergio Leonel Ag√ºero del Castillo,31,1988-06-02,173,70,Argentina,Manchester City,...,60+3,58+3,58+3,58+3,60+3,56+3,50+3,50+3,50+3,56+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17582,242409,https://sofifa.com/player/242409/hui-jin/20/15...,Jin Hui,Èù≥Ëæâ,31,1988-03-10,183,81,China PR,Beijing Renhe FC,...,34+2,32+2,32+2,32+2,34+2,34+2,34+2,34+2,34+2,34+2
17778,224695,https://sofifa.com/player/224695/zhen-ge/20/15...,Ge Zhen,Zhen Ge,32,1987-06-23,179,72,China PR,Shenzhen FC,...,50+2,43+2,43+2,43+2,50+2,51+2,50+2,50+2,50+2,51+2
17946,11430,https://sofifa.com/player/11430/jamie-mccombe/...,J. McCombe,Jamie McCombe,36,1983-01-01,196,79,England,Lincoln City,...,38+2,44+2,44+2,44+2,38+2,41+2,50+2,50+2,50+2,41+2
17948,245558,https://sofifa.com/player/245558/gary-maley/20...,G. Maley,Gary Maley,36,1982-08-03,188,90,Scotland,Livingston FC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18233,182461,https://sofifa.com/player/182461/ting-zhou/20/...,Zhou Ting,Âë®Êå∫,40,1979-02-05,182,73,China PR,Dalian YiFang FC,...,48+2,50+2,50+2,50+2,48+2,48+2,51+2,51+2,51+2,48+2

In [119]:
h=df.loc[0:10]
h

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andr√©s Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atl√©tico Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
5,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City,...,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3
6,192448,https://sofifa.com/player/192448/marc-andre-te...,M. ter Stegen,Marc-Andr√© ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,203376,https://sofifa.com/player/203376/virgil-van-di...,V. van Dijk,Virgil van Dijk,27,1991-07-08,193,92,Netherlands,Liverpool,...,79+3,83+3,83+3,83+3,79+3,81+3,87+3,87+3,87+3,81+3
8,177003,https://sofifa.com/player/177003/luka-modric/2...,L. Modriƒá,Luka Modriƒá,33,1985-09-09,172,66,Croatia,Real Madrid,...,81+3,81+3,81+3,81+3,81+3,79+3,72+3,72+3,72+3,79+3
9,209331,https://sofifa.com/player/209331/mohamed-salah...,M. Salah,Mohamed Salah Ghaly,27,1992-06-15,175,71,Egypt,Liverpool,...,70+3,67+3,67+3,67+3,70+3,66+3,57+3,57+3,57+3,66+3
10,231747,https://sofifa.com/player/231747/kylian-mbappe...,K. Mbapp√©,Kylian Mbapp√©,20,1998-12-20,178,73,France,Paris Saint-Germain,...,66+3,62+3,62+3,62+3,66+3,63+3,54+3,54+3,54+3,63+3

In [120]:
h['age']>25

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10    False
Name: age, dtype: bool

In [123]:
h.loc[h['age']>30]

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andr√©s Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
8,177003,https://sofifa.com/player/177003/luka-modric/2...,L. Modriƒá,Luka Modriƒá,33,1985-09-09,172,66,Croatia,Real Madrid,...,81+3,81+3,81+3,81+3,81+3,79+3,72+3,72+3,72+3,79+3

In [131]:
adjustment=pd.Series([-3,+0.5], index=['age','height_cm'])
adjustment

age         -3.0
height_cm    0.5
dtype: float64

In [132]:
h+adjustment

,age,attacking_crossing,attacking_finishing,attacking_heading_accuracy,attacking_short_passing,attacking_volleys,body_type,cam,cb,cdm,...,skill_moves,sofifa_id,st,team_jersey_number,team_position,value_eur,wage_eur,weak_foot,weight_kg,work_rate
0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [135]:
h['height_cm']

0     170
1     187
2     175
3     188
4     175
5     181
6     187
7     193
8     172
9     175
10    178
Name: height_cm, dtype: int64

In [140]:
h.drop(['player_url'],axis=1)

,sofifa_id,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,L. Messi,Lionel Andr√©s Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atl√©tico Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
5,192985,K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City,91,...,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3
6,192448,M. ter Stegen,Marc-Andr√© ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,203376,V. van Dijk,Virgil van Dijk,27,1991-07-08,193,92,Netherlands,Liverpool,90,...,79+3,83+3,83+3,83+3,79+3,81+3,87+3,87+3,87+3,81+3
8,177003,L. Modriƒá,Luka Modriƒá,33,1985-09-09,172,66,Croatia,Real Madrid,90,...,81+3,81+3,81+3,81+3,81+3,79+3,72+3,72+3,72+3,79+3
9,209331,M. Salah,Mohamed Salah Ghaly,27,1992-06-15,175,71,Egypt,Liverpool,90,...,70+3,67+3,67+3,67+3,70+3,66+3,57+3,57+3,57+3,66+3
10,231747,K. Mbapp√©,Kylian Mbapp√©,20,1998-12-20,178,73,France,Paris Saint-Germain,89,...,66+3,62+3,62+3,62+3,66+3,63+3,54+3,54+3,54+3,63+3

In [149]:
h['age']=25

C:\Users\Chijioke Nlem\AppData\Local\Temp\ipykernel_11660\166920464.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  h['age']=25

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,4
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andr√©s Messi Cuccittini,25,1987-06-24,170,72,Argentina,FC Barcelona,...,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2,NaN
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,25,1985-02-05,187,83,Portugal,Juventus,...,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3,25
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,25,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3,NaN
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,25,1993-01-07,188,87,Slovenia,Atl√©tico Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,25,1991-01-07,175,74,Belgium,Real Madrid,...,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3,NaN
5,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,25,1991-06-28,181,70,Belgium,Manchester City,...,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3,NaN
6,192448,https://sofifa.com/player/192448/marc-andre-te...,M. ter Stegen,Marc-Andr√© ter Stegen,25,1992-04-30,187,85,Germany,FC Barcelona,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,203376,https://sofifa.com/player/203376/virgil-van-di...,V. van Dijk,Virgil van Dijk,25,1991-07-08,193,92,Netherlands,Liverpool,...,83+3,83+3,83+3,79+3,81+3,87+3,87+3,87+3,81+3,NaN
8,177003,https://sofifa.com/player/177003/luka-modric/2...,L. Modriƒá,Luka Modriƒá,25,1985-09-09,172,66,Croatia,Real Madrid,...,81+3,81+3,81+3,81+3,79+3,72+3,72+3,72+3,79+3,NaN
9,209331,https://sofifa.com/player/209331/mohamed-salah...,M. Salah,Mohamed Salah Ghaly,25,1992-06-15,175,71,Egypt,Liverpool,...,67+3,67+3,67+3,70+3,66+3,57+3,57+3,57+3,66+3,NaN
10,231747,https://sofifa.com/player/231747/kylian-mbappe...,K. Mbapp√©,Kylian Mbapp√©,25,1998-12-20,178,73,France,Paris Saint-Germain,...,62+3,62+3,62+3,66+3,63+3,54+3,54+3,54+3,63+3,NaN
age,25,25,25,25,25,25,25,25,25,25,...,25,25,25,25,25,25,25,25,25,NaN